html {
    background-image: url("kayit.jpg");
    background-size: cover;      
    background-repeat:   no-repeat;
    background-position: center center;
}

body {
    margin: 10% 0;
    padding: 0;
    text-align: center;
}