html {
    background-image: url("teknisyen.jpg");
    background-size: cover;      
    background-repeat:   no-repeat;
    background-position: center center;
}

body {
    margin: 20% 0;
    padding: 0;
    text-align: center;
}