<html>
  <title>Kayıt</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='kayit.css') }}">
  <style> 
    input[type=text] {
    width: 400px;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
  }
    input[type=password] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
    input[type=submit] {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  </style>
  <body>
  <form name="Login" method="post" action="KayitOl">
    <input type="text" name="isim" placeholder="İsim">
    <br>
    <input type="text" name="Soyisim" placeholder="Soyisim">
    <br>
    <input type="text" name="TC" placeholder="TC Kimlik No">
    <br>
    <input type="text" name="dogumT" placeholder="Doğum Tarihi(YYYY-AA-GG)">
    <br>
    <input type="text" name="Adres" placeholder="Adres">
    <br>
    <input type="text" name="txtID" placeholder="Kullanıcı Adı">
    <br>
    <input type="password" name="txtSifre" placeholder="Şifre">
    <br>
    <input style="font-size : 19px;" type="submit"name="btnLogin"value="Yeni Kayıt">
    <br><br><br>
    {% if message %}
        <strong style="color: red;">{{message}}</strong>
    {% else %}
    {% endif %}
  </form>
  <!--
   <form id="uploadbanner" enctype="multipart/form-data" method="post" action="predict">
      <input id="rontgen" name="rontgen" type="file"/>
      <input type="submit" value="submit" id="submit" />
    </form>
  -->
  </body>
</html>