<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='teknisyen.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

<style type="text/css">

    table{

        width: 100%;

        margin: 20px 0;

        border-collapse: collapse;

    }

    table, th, td{

        border: 1px solid black;

    }

    table th, table td{

        padding: 5px;

        text-align: left;

    }

</style>

<div class="tabordion">
    <section id="section1">
    <input type="radio" name="sections" id="option1" checked>
    <img src="static/default_avatar.jpg" alt="Avatar" class="avatar">
    <label for="option1">Profil</label>
    <article>
    <img src="static/default_avatar.jpg" id="profil-alt" width="30%" height="30%" >
              <form id="uploadbanner" enctype="multipart/form-data" method="post">
                  <input id="changeProfil" name="rontgen" type="file" onchange="readURLPic(this);" /><br><br>
                  <br><br>
              </form>
              <button id="ProfilResimYukle"> Profil Resmini Yükle </button>
              <br><br>
    </article>
  </section>

  <section id="section2">
    <input type="radio" name="sections" id="option2">
    <label for="option2">Röntgen Filmi</label>
    <article>
        <br><br>
        <h2>Tahlil Ara</h2><br><br>
          <input type="text" id="hastaAdi" placeholder="Hasta Adı">
          <input type="text" id="hastaSoyAdi" placeholder="Hasta Soy Adı">
          <input type="text" id="Tarih" placeholder="Tarih(YYYY-AA-GG)">
          <button id="btnRontgenTahlilAra">Ara</button>
          <script src="/static/teknisyen.js"></script>
          <br>
          <table id="tableHasta" class="table">
            <thead>
                <tr>
                <th scope="col">Tahlil ID</th>
                <th scope="col">Ad</th>
                <th scope="col">Soyad</th>
                <th scope="col">Tarih</th>
                <th scope="col">Seç</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <img src="static/ImageUpload.png" id="blah" width="10%" height="10%" >
        <form id="uploadbanner" enctype="multipart/form-data" method="post">
            <input id="rontgen" name="rontgen" type="file" onchange="readURL(this);" /><br><br>
            <strong style="color: red;" id="hastalikTespit"></strong>
            <br><br>
        </form>
        <button id="submitRontgen"> Röntgeni Yükle </button>
        <br><br>
    </article>
  </section>

  <script>
  function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(400)
                    .height(400);
            };

            reader.readAsDataURL(input.files[0]);

            var fd = new FormData();
            var files = input.files[0];
            fd.append('send',files);

        $.ajax({
            url: '/predict/',
            type: 'post',
            data: fd,
            contentType: false,
            processData: false,
            success: function(data){
                  console.log(JSON.stringify(data.response[1]));
                  hastalik = JSON.stringify(data.response[0]).replace(/['"]+/g, '');;
                  olasilik = JSON.stringify(data.response[1]).replace(/['"]+/g, '');;
                  $("#hastalikTespit").text(hastalik + " %" +olasilik);
            },
        });
        }
    }
  </script>

  <section id="section3">
    <input type="radio" name="sections" id="option3">
    <label for="option3">EKG Verileri</label>
    <article>
    </article>
  </section>
</div>